/* ==== Gaya Dasar ==== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

/* ==== Navbar ==== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  padding: 12px 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Logo */
.navbar .logo {
  font-size: 1.6em;
  font-weight: bold;
  color: #ffcc00;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Menu */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.bg1 {
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
    width: 75%;
    padding: 20px;
    margin-top: 2rem;
}
 
.box1 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box2 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box3 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box4 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
}

.img {
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2px;
    margin-top: 9px;
}

p {
    font-size: 10px;
    width: 8rem;
    margin-left: 16.3px;
    margin-bottom: 15px;
}

#img {
    height: 10px;
    width: 10px;
}

.icon {
    margin-left: 3px;
}

button {
    height: 25px;
    width: 8rem;
    border-radius: 70px;
    border: none;
    background-color: black;
    color: white;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(212, 197, 197);
    color: rgb(0, 0, 0);
    transition: 2s;
}

.bg2 {
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
    width: 75%;
    padding: 20px;
    margin-top: 3rem;
}

.box5 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box6 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box7 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
    
}
.box8 {    
    background-color: white;
    width: 10rem;
    height: 15rem;
    border-radius: 10px;
    box-shadow: 1px 2px 10px aqua;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 2px;
    margin-top: 9px;
}

.btn {
    height: 25px;
    width: 8rem;
    border-radius: 70px;
    border: none;
    background-color: rgb(107, 138, 168);
    color: white;
    margin-top: 16px;
}

.box5:hover {
    background-color: rgb(70, 70, 168);
    color: white;
    transition: 2s;
}

.box6:hover {
    background-color: rgb(70, 70, 168);
    color: white;
    transition: 2s;
}

.box7:hover {
    background-color: rgb(70, 70, 168);
    color: white;
    transition: 2s;
}

.box8:hover {
    background-color: rgb(70, 70, 168);
    color: white;
    transition: 1s;
    }